<!DOCTYPE html>
<html>
  <head>
    <title>매장알림</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>주문 -> 매장알림 (A5 로 보냄)</h1>
    <form action="/send" method="POST">
      <h3>UserPayId(주문번호)</h3>
      <input type="text" name="UserPayId" />
      <input type="submit" value="알림보내기!" />
      <p>UserPayId: 210310-imp_845546083251</p>
    </form>
  </body>
</html>
